body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, sans-serif;
  background: linear-gradient(89deg, orange 0%, red 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
